<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="post" novalidate>
	 	{%csrf_token %}

	 	<h2>Create Book</h2>
		{% for field in form %}
				{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
			<input type="submit" value="Save"/>
			<a href="{%url 'books'%}" class="btn btn-outline">Cancel</a>
	</form>
</body>
</html>
