<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
	  <form method="post" novaldiate>
	  	{% csrf_token %}
	    <h2>Create your account</h2>
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
		<input type="submit" value="Register">
		<hr>
		<p>Already have an account? <a href="{% url 'login'%}">Login Here</a></p>
      </form>
</body>
</html>