{% extends "base/base.html" %}
{% block title %}
<title>EHelper | Create a Employee</title>
{% endblock title %} {% block content %}
 <div class="container py-4">
     {% include "partials/navbar.html" %}
  <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-info">Add Employee</button>
  </form>
<!-- <form class="row g-3" action="/employee/add/" method="post">-->
<!--     {% csrf_token %}-->
<!--  <div class="col-12">-->
<!--    <label for="name" class="form-label">Employee Name</label>-->
<!--    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">-->
<!--  </div>-->
<!--   <div class="col-12">-->
<!--    <label for="id" class="form-label">Employee ID</label>-->
<!--    <input type="text" class="form-control" id="id" placeholder="Enter employee id" name="emp_id">-->
<!--  </div>-->
<!--   <div class="col-12">-->
<!--      <label for="photo" class="form-label">Employee Image</label>-->
<!--    <input type="file" class="form-control" id="photo" name="picture">-->
<!--   </div>-->
<!--   <div class="col-12">-->
<!--    <label for="email" class="form-label">Employee Email</label>-->
<!--    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">-->
<!--  </div>-->
<!--   <div class="col-12">-->
<!--    <label for="phone" class="form-label">Employee Phone</label>-->
<!--    <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone">-->
<!--  </div>-->
<!--     <div class="col-12">-->
<!--    <label for="age" class="form-label">Employee Age</label>-->
<!--    <input type="text" class="form-control" id="age" name="age" placeholder="Enter your age">-->
<!--  </div>-->
<!--     <div class="col-12">-->
<!--    <label for="address" class="form-label">Employee Address</label>-->
<!--    <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address">-->
<!--  </div>-->
<!--     <div class="col-12">-->
<!--    <label for="full_time" class="form-label">Employee Full Time</label>-->
<!--    <input type="text" class="form-control" id="full_time" name="full_time" placeholder="Is he/she full-time?">-->
<!--  </div>-->
<!--     <div class="col-12">-->
<!--    <label for="designation" class="form-label">Employee Designation</label>-->
<!--    <input type="text" class="form-control" id="designation" name="designation" placeholder="Enter your designation">-->
<!--  </div>-->
<!--     <div class="col-12">-->
<!--    <label for="salary" class="form-label">Employee Salary</label>-->
<!--    <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter your salary">-->
<!--  </div>-->
<!--  <div class="col-12">-->
<!--    <button type="submit" class="btn btn-primary">Add Employee</button>-->
<!--  </div>-->
<!--</form>-->
     {% include "partials/footer.html" %}
  </div>
{% endblock content %}
